.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  max-height: 750px;
}

.App{
  width: 100vw;
}

.viewCard {
  background-color: gold;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}

.json-view {
  width: 30%;
}

.modules-div {
  width: 95vw;
  background-color: green;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}