.module-cards-container{
   
   display: flex;
   border-bottom: 10px solid black;
}


.child-module-container{
    
    width: 90%;
    height: 90%;
    display: flex;
    gap:20px;
    overflow-x: scroll;
}

.test-child{
    display: none;
    width: auto;
    height: auto;
}

.child-card{
    /* background-color: rgb(117, 35, 106); */
    background-color: var(--dynamic-color, #ffffff);
    padding: 20px;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}